<section class="home-container">
  <h1>Welcome to RoR - Blogs</h1>
  <div class="users-container">
    <% @users.each do |user| %>
      <%= link_to "/users/#{user.id}", :class => 'user-link', remote: false do %>
        <card class="user-item">
          <img id="user-<%= user.id %>" src='<%= user.photo %>'></img>
          <div class="user-data">
            <h2><span><%= user.name %></span></h2><br>
            <h4 id="counter-<%= user.id %>" class="custom-card-t">Number of posts: <%= user.posts_counter %> </h4>
          </div>
        </card>
      <% end %>
    <% end %>
    <div class="main-btn">
      <%= link_to "/posts/new", remote: false do %>
        <p>Create a post</p>
      <% end %>
    </div>
    <%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete%>
  </div>
</section>